# ========== UNITY PROJECT ==========
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/
MemoryCaptures/
StreamingAssets/aa/*
*.stacktrace

# ========== UNITY GENERATED ==========
*.pidb
*.booproj
*.unityproj
*.svd
*.user
*.userprefs
*.csproj
*.sln
*.db
*.opendb

# ========== AUTO GENERATED META ==========
*.meta

# ========== CRASH / DUMP ==========
sysinfo.txt
*.dmp

# ========== VISUAL STUDIO ==========
.vs/
*.csproj
*.sln
*.suo
*.cache
*.pdb
*.user
*.tmp
*.svclog

# ========== VSCODE ==========
.vscode/

# ========== JETBRAINS / RIDER ==========
.idea/
*.sln.iml

# ========== OS FILES ==========
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# ========== OTHER ==========
# Unity Collaborate
.collab/

# Asset Store Tools
AssetStoreTools*

# Addressables build
*/addressables_content_state.bin